@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary-color: #61887F;
    --secondary-color: #7CB6D1;
    --accent1-color: #3B93BD;
    --accent2-color: #C2D2DA;

    --heading-font: 'oxygen', static;
    --paragraph-font: 'red hat display', variable;

    --nav-backgroud-color: #61887F;
    --nav-link-color: #0f5373;
    --nav-hover-link-color: #3B93BD;
    --nav-hover-background-color: #C2D2DA;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    display: flex;
    margin-left: 75px;
}

.img-row {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto;
}

.img-col {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    align-items: center;
}

.img-style {
    width: 170px;
}

section h3 {
    display: flex;
    flex-wrap: wrap
}

.rafting {
    text-align: center;
    top: 125px;
    background: rgba(0, 0, 0, 0.379);
    color: white;
}

.history {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center
}

.adventure {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center
}

div img {
    width: auto;
    height: 100%;
    float: right;
}

.mission-statement {
    background: rgba(2, 63, 154, 0.379);
    top: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

body {
    font-family: var(--paragraph-font);
}

article {
    padding: 20px;
    background-color: var(--accent2-color);
    position: relative;
}

div h1 {
    position: relative;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    background-image: url("./../images/rafting.jpg");
    height: 600px;
    width: 960px;
    margin: 0 auto;
}

.mission-statement-text {
    color: white;
    display: inline-block;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}


nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.spacer {
    width: 200px;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 600;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif
}

label {
    text-align: left;
    padding-right: 1rem
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

column2 {
    grid-template-columns: 1fr 2fr;
}

button {
    margin: 1rem;
    background-color: rgb(36, 36, 183);
    color: #fff;
    border-radius: .5rem;
    padding: .40rem;
    font-size: 1.1rem;
}

button:hover {
    background-color: darkgreen;
}

.title {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.map-form-section {
    max-width: 1260px;
    margin: 0 auto;
}

.map-form-inner-section {
    padding: 40px;
}

.arrow {
    float: none;
    width: 150px;
}

.contact-button {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.trips-section {
    width: 1160px;
    margin: 0 auto;
}

.arrow-contact-row {
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.trip-image {
    width: 40%
}

.trip-description-section {
    width: 60%;
    padding: 35px;
}

.trip-row {
    margin: 25px;
}

.trips-table {
    margin: 25px;
    text-align: left;
    width: 800px
}

.home-body {
    margin: 0;
}

.home-header {
    border: none;
}

.full-width-div {
    background: url("./../images/full_width.png") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 330px;
    padding: 75px 0;

}

.link-to-trips {
    text-align: center;
    font-size: 30px;
}

.grid-layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }

 .home-page-rafting {
    width: 350px;
 }

 .footer-border {
    border-top: 1px solid black;
 }