@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary-color: #61887F;
    --secondary-color: #7CB6D1;
    --accent1-color: #3B93BD;
    --accent2-color: #C2D2DA;

    --heading-font: 'oxygen', static;
    --paragraph-font: 'red hat display', variable;

    --nav-backgroud-color: #61887F;
    --nav-link-color: #0f5373;
    --nav-hover-link-color: #3B93BD;
    --nav-hover-background-color: #C2D2DA;
}

header {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
    margin-left: 75px;
}

.img-row {
    display: flex;
    flex-direction: row;
}

.img-col {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    align-items: center;
}

.img-style {
    width: 170px;
}

section h3 {
    display: flex;
    flex-wrap: wrap
}

.rafting {
    text-align: center;
    top: 125px;
    background: rgba(0, 0, 0, 0.379);
}

.history {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center
}

.adventure {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center
}

div img {
    width: auto;
    height: 100%;
    float: right;
}

.mission-statement {
    background: rgba(2, 63, 154, 0.379);
    top: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
}

article {
    padding: 20px;
    background-color: var(--accent2-color);
    position: relative;
}

div h1 {
    position: relative;
    color: white;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    background-image: url("./../images/rafting.jpg");
    height: 600px;
}

.mission-statement-text {
    color: white;
    display: inline-block;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}


nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    width: 200px;
}

